header {
    background-color: #19161B;
    .navbar{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        &__logo {
            &-list {
                display: flex;
                position: absolute;
                left: 10%;
                cursor: pointer;
                li {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  text-transform: capitalize;
                  color: #FFFFFF;
                  list-style: none;
                  padding-left: 10px;
                }
            }
        }
       
        &__clone {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFC492;
            cursor: pointer;
            span {
                padding-right: 10px;
            }
        }
    }
    
}



